<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ida:ClientId" value="6ed08b63-ef1c-4d7f-a65f-2f7fba806f81"/>
    <!-- Set this to true if your application is not enabled for multitenant access. -->
    <add key="ida:IsMultitenantApp" value="false"/>    
    <!-- Set this to your tenant name or GUID if your application is not enabled for multitenant access. -->
    <add key="ida:TenantGuid" value="75720964-9f03-4592-b126-2b0963ae59c9"/>
    <add key="app:Name" value="MIP File SDK Sample App"/>
    <add key="app:Version" value="1.11"/>
  </appSettings>
  <runtime>   
  </runtime>
</configuration>
